doctype html
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Hackingcamp CTF
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        .container 
            h1 Hackingcamp CTF
            hr

            h2.display-1 #{challenge.title}
            blockquote
                div.mb-0 !{challenge.description}
                footer #{challenge.author}
            br
            br
            
            
            if challenge.files
                label Files
                each file in challenge.files
                    p 
                        a(href="/uploads/" + challenge.no + "/" + file)= file


            br
            br

            form.form-group(action="/challenge/" + challenge.no + "/auth", method="post")
                label Flag
                .row
                    .col-md-8
                        input.form-control(name="flag") 
                    .col-md-4
                        button.btn(type="submit" value="") Flag Check
            br

            h3 Solvers
            table.table
                tr
                    th #
                    th Team
                    th Solved time
                - var i = 1;
                each solver in solvers
                    tr
                        td #{i}
                        td #{solver.nickname}
                        td #{solver.solve_time}
                    - i ++;
            br
            a.btn.btn-primary(href="/challenge") list
            